<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Zuk logo"
    src="https://oldschool.runescape.wiki/images/5/58/TzKal-Zuk.png?1f4e1"
  />
  <span>Zuk Timer v1.0</span>
  <div class="spacer"></div>
  Source:
  <a
    aria-label="Zuk Timer on GitHub"
    target="_blank"
    rel="noopener"
    href="https://github.com/JtSangerman/zuk-timer"
    title="GitHub"
  >
    <img
      width="40"
      alt="Zuk logo"
      src="https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png"
    />
  </a>
</div>

<div class="content" role="main">
  <span class="info-txt">NEXT SET SPAWNING IN:</span>
  <div class="timer">
    {{ timeRemaining | timeFormat }}
  </div>
  <div class="buttons-container">
    <div class="buttons-stack">
      <button
        class="stage-button"
        mat-raised-button
        (click)="start()"
        [disabled]="stage !== 0"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            START
          </span>
          <span class="secondary-txt">
            (Click when Zuk animation over)
          </span>
        </div>
      </button>
      <button
        class="stage-button"
        mat-raised-button
        (click)="moveToStage3()"
        [disabled]="stage !== 2"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            Move to stage 3
          </span>
          <span class="secondary-txt">
            (Click as soon as Zuk &lt;= 600hp)
          </span>
        </div>
      </button>
      <button
        class="stage-button"
        mat-raised-button
        (click)="moveToStage4()"
        [disabled]="stage !== 3"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            Move to stage 4
          </span>
          <span class="secondary-txt">
            Click as soon as Jad spawns (Zuk &lt;= 480hp)
          </span>
        </div>
      </button>
    </div>
  </div>
  <div class="row progress-bar">
    <span
      class="segment"
      [class.current]="stage === 0"
      [class.past]="stage > 0"
      [class.future]="false"
    >
      Stage 0
    </span>
    <span
      class="segment"
      [class.current]="stage === 1"
      [class.past]="stage > 1"
      [class.future]="stage < 1"
    >
      Stage 1
    </span>
    <span
      class="segment"
      [class.current]="stage === 2"
      [class.past]="stage > 2"
      [class.future]="stage < 2"
    >
      Stage 2
    </span>
    <span
      class="segment"
      [class.current]="stage === 3"
      [class.past]="stage > 3"
      [class.future]="stage < 3"
    >
      Stage 3
    </span>
    <span
      class="segment"
      [class.current]="stage === 4"
      [class.past]="false"
      [class.future]="stage < 4"
    >
      Stage 4
    </span>
  </div>
</div>

<router-outlet></router-outlet>
