<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Zuk logo"
    src="https://oldschool.runescape.wiki/images/5/58/TzKal-Zuk.png?1f4e1"
  />
  <span>Zuk Timer v1.1</span>
  <div class="spacer"></div>
  Source:
  <a
    aria-label="Zuk Timer on GitHub"
    target="_blank"
    rel="noopener"
    href="https://github.com/JtSangerman/zuk-timer"
    title="GitHub"
  >
    <img
      width="40"
      alt="Zuk logo"
      src="https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png"
    />
  </a>
</div>

<div class="content" role="main">
  <span class="info-txt">NEXT SET SPAWNING IN:</span>
  <div class="timer">
    {{ timeRemaining | timeFormat }}
  </div>
  <div class="buttons-container">
    <div class="buttons-stack">
      <button
        class="stage-button"
        mat-raised-button
        (click)="start()"
        [disabled]="stage !== 0"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            START
          </span>
          <span class="secondary-txt">
            (Click when Zuk animation over)
          </span>
        </div>
      </button>
      <button
        class="stage-button"
        mat-raised-button
        (click)="moveToStage3()"
        [disabled]="stage !== 2"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            Move to stage 3
          </span>
          <span class="secondary-txt">
            (Click as soon as Zuk &lt;= 600hp)
          </span>
        </div>
      </button>
      <button
        class="stage-button"
        mat-raised-button
        (click)="moveToStage4()"
        [disabled]="stage !== 3"
      >
        <div class="button-wrapper">
          <span class="main-txt">
            Move to stage 4
          </span>
          <span class="secondary-txt">
            Click as soon as Jad spawns (Zuk &lt;= 480hp)
          </span>
        </div>
      </button>
    </div>
  </div>
  <div class="row progress-bar">
    <div class="segment-container">
      <span
        class="segment"
        [class.current]="stage === 1"
        [class.past]="stage > 1"
        [class.future]="stage < 1"
      >
        <span class="stage-num">1</span>
      </span>
      <span class="stage-desc">
        Waiting 45s for first set.
      </span>
    </div>
    <div class="segment-container">
      <span
        class="segment"
        [class.current]="stage === 2"
        [class.past]="stage > 2"
        [class.future]="stage < 2"
      >
        <span class="stage-num">2</span>
      </span>
      <span class="stage-desc">
        Set spawning every 3m30s.
      </span>
    </div>
    <div class="segment-container">
      <span
        class="segment"
        [class.current]="stage === 3"
        [class.past]="stage > 3"
        [class.future]="stage < 3"
      >
        <span class="stage-num">3</span>
      </span>
      <span class="stage-desc">
        Zuk &lt;=600. Timer paused.
      </span>
    </div>
    <div class="segment-container">
      <span
        class="segment"
        [class.current]="stage === 4"
        [class.past]="false"
        [class.future]="stage < 4"
      >
        <span class="stage-num">4</span>
      </span>
      <span class="stage-desc">
        Zuk &lt;=480. Jad spawned. Added 1m:45s. Set spawning every 3m:30s from
        here.
      </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
